/* ===== General =====*/
:root {
    --color1: #012D57;
    --color2: #1770A1;
    --color3: #DEEEEE;
    --color4: #FFFFFF;
    --color5: #D7A74E;
    --color6: #F6FAFE;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1, h2, h3 {
    font-family: 'Oranienbaum', serif;
    font-style: italic;
}
p, span {
    font-family: 'Roboto', sans-serif;
}
ul, li, a {
    font-family: 'Libre Baskerville', serif;
}
.menuIcons, #servicesTab {
    cursor: pointer;
}

/*========================= Header =========================*/
/*===== Logo =====*/
.logo {
    display: flex;
    max-width: 350px;
    margin: 0 auto;
}
.logo img {
    width: 100%;
    padding: 1rem 2rem;
}

/*===== Social Media =====*/
#social {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--color1);
}
#menu, #socialMedia {
    display: flex;
    justify-content: space-evenly;
}
.menuIcons, .socialMediaIcons {
    width: 30px;
    padding: .3rem 0;
}
.menuIcons img, .socialMediaIcons img {
    width: 100%;
    margin: .5rem;
}

/*===== Hambuerguer Menu =====*/
nav {
    grid-column: 1/3;
}
#navigation, #closeIcon, #subNavigation {
    display: none;
}
.linkToPages {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: var(--color4);
    background-color: var(--color2);
    border-top: 1px solid var(--color4);
}
.linkToSubPages {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: var(--color1);
    background-color: var(--color3);
    border-bottom: 1px solid var(--color1);

}
#navigation.navigationDisplay, #closeIcon.closeIconDisplay, #subNavigation.subNavigationDisplay {
    display: block;
}
.hamIconHide {
    display: none;
}
#servicesTab {
    border-bottom: 1px solid var(--color1);
}

/*===== Hover Over & Active =====*/
.active {
    color: var(--color4);
    background-color: var(--color1);
}
.linkToPages:hover {
    color: var(--color1);
    background-color: var(--color3);

}
.linkToSubPages:hover {
    color: var(--color4);
    background-color: var(--color2);
}

/*========== Three Days Forecast ==========*/
#threeDaysForecast {
    padding: .8rem;
    background-color: var(--color6);
    border-bottom: 1px solid var(--color1);
}
#threeDaysForecast h2 {
    padding-bottom: .2rem;
    color: var(--color1);
    border-bottom: 2px solid var(--color1);
}
.days {
    display: grid;
    grid-template-columns: .8fr 1fr 2fr;
    grid-gap: 1rem;
    align-items: center;
    margin-top: .8rem;
}
.days figure {
    display: none;
}


/*========================= Main =========================*/
main {
    margin: 1.5rem;
}


/*========== Temples Quote ==========*/
#templeSection {
    position: relative;
}

#templeSection picture img {
    width: 100%;
    height: 335px;
}

.templeCover {
    object-fit: cover;
    border-radius: 20px;
}
#templeQuote {
    background-color: var(--color4);
    position: absolute;
    top: 15%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 1rem .8rem;
    font-weight: 600;
    font-style: oblique;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 5px 10px 18px var(--color1);
    text-shadow: 2px 2px 6px rgb(255, 255, 54);
}

.TemplesDedicated ul li, .TemplesAnnounced ul li, #templeGuidelines li {
    text-align: left;
}
.milestonesTitle, .servicesTitle, .closuresTitle {
    text-align: left;
}

/*========================= Footer =========================*/
/*===== Logo =====*/
footer {
    background-color: var(--color1);
    color: var(--color4);
    padding: 1rem;
    line-height: 1.5rem;
}
#footerContact {
    margin: 1rem;
}
iframe {
    width: 75%;
    height: 250px;
    margin: 1rem auto;
}
footer .logo {
    min-width: 150px;
    max-width: 250px;
}
footer .logo img {
    padding: 0;
}

/*===== Form =====*/
#newsletter {
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}
#newsletter label {
    display: flex;
    justify-content: center;
}
#inputEmail, #newsletterButton {
    font-size: 1rem;
    padding: .8rem;
    width: 80%;
}
#inputEmail {
    color: var(--color1);
    border: none;
    font-weight: 550;
}
#newsletterButton {
    cursor: pointer;
    color: var(--color4);
    background-color: black;
}
#myInfo {
    margin-top: 1rem;
}