/* ===== General =====*/
:root {
    --color1: #012D57;
    --color2: #1770A1;
    --color3: #DEEEEE;
    --color4: #FFFFFF;
    --color5: #F6C528;
    --color6: #F6FAFE;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1, h2, h3 {
    font-family: 'Oranienbaum', serif;
    font-style: italic;
}
p, span {
    font-family: 'Roboto', sans-serif;
}
ul, li, a {
    font-family: 'Libre Baskerville', serif;
}
.menuIcons, #servicesTab {
    cursor: pointer;
}

/*========================= Header =========================*/
/*===== Logo =====*/
.logo {
    display: flex;
    max-width: 350px;
    margin: 0 auto;
}
.logo img {
    width: 100%;
    padding: 1rem 2rem;
}

/*===== Social Media =====*/
#social {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--color1);
}
#menu, #socialMedia {
    display: flex;
    justify-content: space-evenly;
}
.menuIcons, .socialMediaIcons {
    width: 30px;
    padding: .3rem 0;
}
.menuIcons img, .socialMediaIcons img {
    width: 100%;
    margin: .5rem;
}

/*===== Hambuerguer Menu =====*/
nav {
    grid-column: 1/3;
}
#navigation, #closeIcon, #subNavigation {
    display: none;
}
.linkToPages {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: var(--color4);
    background-color: var(--color2);
    border-top: 1px solid var(--color4);
}
.linkToSubPages {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: var(--color1);
    background-color: var(--color3);
    border-bottom: 1px solid var(--color1);
}
#navigation.navigationDisplay, #closeIcon.closeIconDisplay, #subNavigation.subNavigationDisplay {
    display: block;
}
.hamIconHide {
    display: none;
}
#servicesTab {
    border-bottom: 1px solid var(--color1);
}

/*===== Hover Over & Active =====*/
.active {
    color: var(--color4);
    background-color: var(--color1);
}
.linkToPages:hover {
    color: var(--color1);
    background-color: var(--color3);
}
.linkToSubPages:hover {
    color: var(--color4);
    background-color: var(--color2);
}

/*========== Three Days Forecast ==========*/
#threeDaysForecast {
    padding: .8rem;
    background-color: var(--color6);
    border-bottom: 1px solid var(--color1);
}
#threeDaysForecast h2 {
    padding-bottom: .2rem;
    color: var(--color1);
    border-bottom: 2px solid var(--color1);
}
.days {
    display: grid;
    grid-template-columns: .8fr 1fr 2fr;
    grid-gap: 1rem;
    align-items: center;
    margin-top: .8rem;
}
.days figure {
    display: none;
}


/*========================= Main =========================*/
main {
    margin: 1.5rem;
}

/*==================== Home Page ====================*/
/*========== Temples Quote ==========*/
main h1 {
    color: var(--color1);
    padding: 1rem;
    margin-bottom: 1rem;
}
#templeSection {
    position: relative;
}
#templeSection picture img {
    width: 100%;
    height: 335px;
}
.templeCover {
    object-fit: cover;
    border-radius: 20px;
}
#templeQuote {
    background-color: var(--color4);
    position: absolute;
    top: 15%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 1rem .8rem;
    font-weight: 600;
    font-style: oblique;
    font-size: 1.2rem;
    border-radius: 10px;
    color: var(--color5);
    box-shadow: 5px 10px 18px var(--color1);
}
#quotePerson {
    text-align: end;
    color: var(--color1);
}
#mixedFeatures {
    display: flex;
    justify-content: space-around;
    margin: 2rem 1rem;
    font-size: 1.1rem;
}
#mixedFeatures h3 {
    color: var(--color1);
    border-bottom: 4px double var(--color5);
}
#angelMoroni {
    display: none;
}
#weatherFigure {
    display: flex;
    justify-content: center;
    align-items: center;
}
#weatherBox {
    padding: 1rem;
    background-color: var(--color6);
    border: 2px solid var(--color1);
    margin-right: .2rem;
    border-radius: 10px;
    min-width: 180px;
}
#reservationBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: var(--color6);
    border: 2px solid var(--color1);
    margin-left: .2rem;
    border-radius: 10px;
}
.reservationButton {
    color: var(--color4);
    background-color: var(--color1);
    cursor: pointer;
    padding: 0.8rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    border: 1px solid var(--color1);
    margin-top: .5rem;
}
#templeToDisplaySection {
    margin: 0 1rem;
    padding: 1rem;
}
#templeToDisplaySection h2 {
    color: var(--color5);
    padding-bottom: 1.5rem;
}
#templeToDisplaySection p {
    padding-bottom: 1rem;
}
#templeToDisplayPicture img {
    padding: 1.5rem;
    width: 100%;
    border-top: 5px double var(--color5);
}


/*==================== Temples & Services Page ====================*/
.TemplesDedicated ul li, .TemplesAnnounced ul li, #templeGuidelines li, #amenities ul li {
    text-align: left;
    padding-bottom: .5rem;
    color: var(--color2);
}
.TemplesDedicated ul, .TemplesAnnounced ul, #templeGuidelines, #amenities ul {
    padding-left: 1rem;
}
#templeGuidelinesSection, #amenities {
    padding: 1rem;
    margin: 1rem 2rem;
}
.TemplesDedicated section, .TemplesAnnounced section, .servicesBoxes {
    padding: 1rem 2rem;
    background-color: var(--color6);
    border: 2px solid var(--color1);
    border-radius: 10px;
    margin: 2rem;
}
.TemplesDedicated h2, .TemplesAnnounced h2, #templeGuidelinesSection h2, .servicesBoxes h3 {
    padding-bottom: 1rem;
    margin-top: .5rem;
    color: var(--color5);
}
.TemplesDedicated p, .TemplesAnnounced p, #templeGuidelinesSection p, .servicesBoxes p {
    padding-bottom: .8rem;
    font-weight: 600;
}
.TemplesDedicated h3, .TemplesAnnounced h3 {
    margin-top: 1rem;
    padding-bottom: .5rem;
    color: var(--color5);
    text-align: left;
}
.TemplesDedicated img, .TemplesAnnounced img, .servicesBoxes img {
    border-radius: 5px;
    margin: .5rem;
    width: 80%;
}
.TemplesDedicated img {
    max-width: 600px;
}
.TemplesAnnounced img {
    max-width: 750px;
}

/*==================== Reservation Page ====================*/
#reservationForm, legend, fieldset, label, label input, option, textarea {
    text-align: left;
}
.personalInfoLabel input, .bookingInfoLabel input, #reservationForm label textarea, .bookingSelectLabel select {
    display: block;
}
#guestNumber, #suiteNumber, #reservationDates {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#reservationForm fieldset {
    color: var(--color1);
    background-color: var(--color6);
    border-radius: 10px;
    padding: 1rem;
    padding-left: 10%;
    margin: 2rem;
}
#reservationForm legend {
    color: var(--color5);
    text-shadow: 0 0 15px var(--color6);
    font-size: 1.5rem;
    font-weight: 800;
    padding: .3rem;
    border-bottom: 2px solid var(--color5);
}
#reservationForm input, #reservationForm select, #reservationForm textarea {
    color: var(--color1);
    background-color: var(--color4);
    font-size: 1.1rem;
    padding: .7rem;
    margin-bottom: 1rem;
}
.bookingSelectLabel select, #reservationDates input {
    width: 80%;
}
.personalInfoLabel input, #reservationForm textarea, .templeSelection select, .submitBtn {
    width: 90%;
}
#reservationForm .submitBtn {
    color: var(--color4);
    background-color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 10px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1.3rem;
    text-align: center;
}
/*==================== Services Page ====================*/

.servicesBoxes img {
    max-width: 300px;;
}

/*========================= Footer =========================*/
/*===== Logo =====*/
footer {
    background-color: var(--color1);
    color: var(--color4);
    padding: 1rem;
    line-height: 1.5rem;
}
#footerContact {
    margin: 1rem;
}
iframe {
    width: 75%;
    height: 250px;
    margin: 1rem auto;
}
footer .logo {
    min-width: 150px;
    max-width: 250px;
}
footer .logo img {
    padding: 0;
}

/*===== Form =====*/
#newsletter {
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}
#newsletter label {
    display: flex;
    justify-content: center;
}
#inputEmail, #newsletterButton {
    font-size: 1rem;
    padding: .8rem;
    width: 80%;
    text-align: center;
}
#inputEmail {
    color: var(--color1);
    border: none;
    font-weight: 550;
    text-align: center;
}
#newsletterButton {
    cursor: pointer;
    color: var(--color4);
    background-color: black;
}
#myInfo {
    margin-top: 1rem;
}