/* ===== General =====*/
:root {
    --color0: #257B62;
    --color1: #2A4B40;
    --color2: #257B62;
    --color3: #89C6A7;
    --color4: #DEEEEE;
    --color5: #fffeef;
    --color6: #D7A74E;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1, h2, h3 {
    font-family: 'Oranienbaum', serif;
    font-style: italic;
}
p, span {
    font-family: 'Roboto', sans-serif;
}
ul, li, a {
    font-family: 'Libre Baskerville', serif;
}

/*========================= Header =========================*/
/*===== Logo =====*/
.logo {
    display: flex;
    max-width: 350px;
    margin: 0 auto;
}
.logo img {
    width: 100%;
    padding: 1rem 2rem;
}

/*===== Social Media =====*/
#social {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--color5);
}
#menu, #socialMedia {
    display: flex;
    justify-content: space-evenly;
}
.menuIcons, .socialMediaIcons {
    width: 30px;
}
.menuIcons img, .socialMediaIcons img {
    width: 100%;
    margin: .5rem;
}

/*===== Hambuerguer Menu =====*/
nav {
    grid-column: 1/3;
}
#navigation, #closeIcon, #subNavigation {
    display: none;
}
.linkToPages {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: var(--color5);
    background-color: var(--color0);
    border-top: 1px solid var(--color5);
}
.linkToSubPages {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: var(--color0);
    background-color: var(--color4);
    border-bottom: 1px solid var(--color0);
}

#navigation.navigationDisplay, #closeIcon.closeIconDisplay, #subNavigation.subNavigationDisplay {
    display: block;
}
.hamIconHide {
    display: none;
}



/*========================= Footer =========================*/
/*===== Logo =====*/
footer {
    background-color: var(--color0);
    color: var(--color5);
    padding: 1rem;
    line-height: 1.5rem;
}
iframe {
    width: 70%;
    height: 250px;
    margin: 1rem auto;
}
footer .logo {
    min-width: 150px;
    max-width: 250px;
}
footer .logo img {
    padding: 0;
}
#newsletter {
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 2rem;
}
#newsletter label {
    display: flex;
    justify-content: center;
}
#inputEmail, #newsletterButton {
    font-size: 1rem;
    padding: .8rem;
    width: 80%;
}
#inputEmail {
    color: var(--color0);
    background-color: var(--color5);
    border: none;
}
#newsletterButton {
    cursor: pointer;
    color: var(--color5);
    background-color: black;
}
#myInfo {
    margin-top: 1rem;
}