@media (min-width: 1000px) {
    :root {
        --color1: #012D57;
        --color2: #1770A1;
        --color3: #DEEEEE;
        --color4: #FFFFFF;
        --color5: #D7A74E;
    }
    #social {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 1rem;
    }
    nav {
        grid-column: 1/4;
    }
    #socialMedia {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #navigation {
        display: flex;
        justify-content: center;
        list-style: none;
    }
    #menu {
        display: none;
    }
    .linkToPages {
        font-size: 1.3rem;
        padding: 1.2rem 2.5rem;
        background-color: var(--color1);
        color: var(--color4);
        border: none;
    }
    #subNavigation {
        list-style: none;
    }
    .active {
        color: var(--color4);
        background-color: var(--color2);
    }



    

    #newsletter {
        display: block;
    }
    #inputEmail, #newsletterButton {
        width: 80%;
        font-size: 1rem;
        padding: .8rem;
    }
    footer {
        display: grid;
        grid-template-rows: 1.2fr 1fr;
    }
    #map {
        grid-row: 1/3;
        grid-column: 1/2;
        height: 350px;
        padding-left: 2rem;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
    #footerContact {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    #newsletter {
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin: 0;
    }
    footer .logo, #myInfo {
        grid-column: 1/3;
    }
    footer .logo img {
        margin-top: 4rem;
    }
}
