@media (min-width: 700px) {
    :root {
        --color1: #012D57;
        --color2: #064669;
        --color3: #DEEEEE;
        --color4: #FFFFFF;
        --color5: #A35C00;
        --color6: #F6FAFE;
    }
    .logo {
        max-width: 400px;
    }
    /*===== Social Media =====*/
    .menuIcons, .socialMediaIcons {
        width: 35px;
    }
    #newsletter {
        display: inline-flex;
        justify-content: center;
    }
    #inputEmail, #newsletterButton {
        width: 100%;
        font-size: 1.3rem;
        padding: 1rem;
    }
    iframe {
        width: 80%;
        height: 350px;
    }
    footer .logo {
        max-width: 300px;
    }
    /*==================== Home Page ====================*/
    /*========== Temples Quote ==========*/
    #templeQuote {
        top: 20%;
        font-size: 1.3rem;
    }
    #templeToDisplayPicture img {
        width: 90%;
    }
    #mixedFeatures {
        font-size: 1.2rem;
    }
    #angelMoroni {
        display: block;
        background-color: var(--color5);
    }
    /*========== Three Days Forecast ==========*/
    #threeDaysForecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    #threeDaysForecast h2 {
        grid-column: 1/4;
    }
    .days, .days figure {
        display: block;
    }
    #threeDaysForecast section:nth-child(2), #threeDaysForecast section:nth-child(3) {
        border-right: 1px solid var(--color1);
    }

    /*==================== Temples Page ====================*/
    .TemplesDedicated, .TemplesAnnounced {
        margin: 2rem 1rem;
    }
    .TemplesDedicated section, .TemplesAnnounced section {
        margin: 2rem 3rem;
    }
    .TemplesDedicated h2, .TemplesAnnounced h2 {
        margin-top: 1rem;
        font-size: 2rem;
    }
    #templeGuidelinesSection {
        margin: 1rem auto;
        max-width: 700px;
    }
    .TemplesDedicated section:hover, .TemplesAnnounced section:hover, .servicesBoxes:hover {
        box-shadow: 0 0 20px var(--color1);
    }
    .TemplesDedicated img:hover, .TemplesAnnounced img:hover, .servicesBoxes img:hover, .receptionImages:hover, .templeHover:hover {
        box-shadow: 0 0 10px var(--color2);
        padding: 1rem;
    }
    /*==================== Reservation Page ====================*/
    #reservationForm fieldset, #reservationForm select {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #reservationForm fieldset {
        margin: 2rem 3rem;
    }
    #reservationDates, #textAreaLabel, #buttonLabel, .templeSelection {
        grid-column: 1/3;
    }
    #reservationDates input {
        width: 90%;
    }
    #textAreaLabel textarea, fieldset #buttonLabel .submitBtn, .templeSelection select {
        width: 95%;
    }
    #reservationForm fieldset {
        padding-left: 6%;
    }
    #reservationForm .submitBtn:hover, .servicesBoxes .submitBtn:hover {
        background-color: var(--color2);
    }
    #suites, #specialServices {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #suites h2, #specialServices h2 {
        grid-column: 1/3;
    }
    .servicesBoxes {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .firstSetOfImages, .secondSetOfImages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        margin-bottom: .5rem;
    }
    #receptionHolder {
        margin: 0 2rem;
    }
}