@media (min-width: 700px) {
    :root {
        --color1: #012D57;
        --color2: #1770A1;
        --color3: #DEEEEE;
        --color4: #FFFFFF;
        --color5: #F6C528;
    }
    .logo {
        max-width: 400px;
    }
    /*===== Social Media =====*/
    .menuIcons, .socialMediaIcons {
        width: 35px;
    }
    #newsletter {
        display: inline-flex;
        justify-content: center;
    }
    #inputEmail, #newsletterButton {
        width: 100%;
        font-size: 1.3rem;
        padding: 1rem;
    }
    iframe {
        width: 80%;
        height: 350px;
    }
    footer .logo {
        max-width: 300px;
    }
    /*==================== Home Page ====================*/
    /*========== Temples Quote ==========*/
    #templeQuote {
        top: 20%;
        font-size: 1.3rem;
    }
    #templeToDisplayPicture img {
        width: 90%;
    }
    #mixedFeatures {
        font-size: 1.2rem;
    }
    #angelMoroni {
        display: block;
        background-color: var(--color5);
    }
    /*========== Three Days Forecast ==========*/
    #threeDaysForecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    #threeDaysForecast h2 {
        grid-column: 1/4;
    }
    .days, .days figure {
        display: block;
    }
    #threeDaysForecast section:nth-child(2), #threeDaysForecast section:nth-child(3) {
        border-right: 1px solid var(--color1);
    }

    /*==================== Temples Page ====================*/
    .TemplesDedicated section, .TemplesAnnounced section {
        margin: 2rem 3rem;
    }
    .TemplesDedicated h2, .TemplesAnnounced h2 {
        margin-top: 1rem;
        font-size: 2rem;
    }
    #templeGuidelinesSection {
        margin: 1rem auto;
        max-width: 700px;
    }
    /*==================== Reservation Page ====================*/
    #reservationForm fieldset, #reservationForm select {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}