@media (min-width: 40rem) {
    nav ul {
        display: flex;
    }
    nav ul li{
        flex: 1 1 auto;
    }
    
}

@media (min-width: 55rem) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}
