*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    background-color: #08232B;
    color: #F6FAFE;
    font-family: 'Merienda One', cursive;
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
}
body{
    display: grid;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    align-items: center;
    color: #10354B;
}
nav {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #5982A4;
}
nav ul, section ul{
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: #F6FAFE;
}

nav ul li:hover {
    background-color: #F6FAFE;
}
nav ul li a:hover{
    color: #5982A4;
}

h2, h3, h4 {
    font-family: 'Merienda One', cursive;
    margin: 1rem;
    color: #08232B;
    padding: 0.3rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 16px;
    justify-items: center;
}

.personas, p, #font1, #font2, #scenarios{
    margin: 0.5rem;
    padding: 0.5rem;
}

img{
    width: 100%;
    display: block;
    border-radius: 15px;
    padding: 0rem 3rem 2rem 2rem;
}
.personas{
    max-width: 400px;
    margin: 0rem 3rem 2rem 2rem;
}
section{
    margin: 3rem 2rem 2rem 2rem;
}