
#banner {
    display: none;
    min-width: 360px;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: #08232B;
    color: #F6FAFE;
}
#close {
    background-color: transparent;
    color: red;
    border: none;
    padding-left: 2rem;
    font-size: 1.5rem;
}
header {
    min-width: 360px;
    display: flex;
    padding: .5rem;
    align-items: center;
    text-align: center;
    background-color: #F6FAFE;
    color: #08232B;
}
#social {
    display: flex;
    position: relative;
}
#logo {
    width: 80px;
}
.logos{
    width: 35px;
    margin: .2rem;
}
#headings {
    font-size: .8rem;
    margin: 15px;
}
nav button {
    margin: -12px .3rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    text-align: right;
    color: #08232B;
    border-top: 1px solid #08232B;
}
nav ul li a:hover {
    background-color: #08232B;
    color: #F6FAFE;
}
nav ul {display: none;}
nav ul.open {display: block;}

#social.open {
    display: none;
}

#menu span:nth-child(1) {display: block;}
#menu span:nth-child(2) {display:none}

#menu.open span:nth-child(1) {display: none;}
#menu.open span:nth-child(2) {display: block;}


