@media (min-width: 700px) {
    header {
        padding: .75rem;
    }
    #logo {
        width: 90px;
    }
    #headings {
        font-size: 1rem;
    }
    nav {
        margin-left: 1.5rem;
    }
    #social {
        top: 40px;
        right: 85px;
    }
    nav button {
        top: 50px;
    }
    footer {
        font-size: 1rem;
    }
    #address {
        margin-left: 1rem;
    }
    #myInfo {
        font-size: .9rem;
        padding: 1rem;
    }
    #contactInfo {
        line-height: 23px;
        margin-right: 2.5rem;
    }
}
@media (min-width: 960px) {
    header {
        padding: 1rem;
        font-size: 1.2rem;
    }
    #logo {
        width: 100px;
    }
    #headings {
        font-size: 1.2rem;
    }
    nav {
        margin-left: 1.5rem;
    }
    nav button {
        display: none;
    }
    nav ul#navigation {
        display: flex;
    }
    nav ul li a {
        border: none;
    }
    #social {
        top: 48px;
        right: 40px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .hero {
        height: 407px;
        grid-column: 2/4;
        grid-row: 1/3;
    }
    .news {
        grid-column: 2/4;
        grid-row: 3/4;
    }
    .spotlights {
        height: 615px;
        grid-row: 1/4;
        grid-column: 4/5;
        
    }
}