@media (min-width: 1000px) {
    #banner {
        padding: 2rem;
        font-size: 1.8rem;
    }
    header {
        display: flex;
        font-size: 1.2rem;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }
    #logo {
        width: 120px;
        padding-left: 1rem;
        padding-right: 0;
    }
    #headings {
        font-size: 1rem;
    }
    nav {
        margin: 0 2rem;
    }
    #menu {
        display: none;
    }
    nav ul#navigation {
        display: flex;
        order: 3;
    }
    nav ul li.active a {
        border-bottom: 5px double var(--color3);
        border-radius: 0 0 8px 8px;
    }
    nav ul li a {
        border: none;
        background-color: transparent;
    }

    



    #mainIndex {
        grid-template-columns: 1fr 2fr 1fr;
    }

    #social {
        order: 2;
        padding: 0 .9rem;
        position: relative;
    }
    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .section-text-optional, .section-text-opt {
        display: none;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .join section {
        display: block;
        margin: auto 0;
    }
    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .hero img {
        object-fit: cover;
        height: 100%;
    }
    .news {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .light-container {
        grid-row: 1/4;
        grid-column: 3/4;
    }
    #spot1 {
        grid-column: 1/2;
    }
    #spot2 {
        grid-column: 1/2;
    }
    #spot3 {
        display: block;
    }
    .join-button{
        font-size: 1.2rem;
    }



    .membershipDescription {
        display: block;
    }

    #contactBody, #joinBody {
        grid-template-columns: 1fr 1fr;
    }







    footer {
        font-size: 1.1rem;
    }
    #contactInfo {
        line-height: 24px;
        margin-right: 5rem;
    }
    #myInfo {
        font-size: 18px;
        padding: 1.5rem 0;
    }



    .discoverInfo {
        padding: 2rem;
    }
}