@media (min-width: 1000px) {
    #banner {
        padding: 2rem;
        font-size: 1.8rem;
    }
    header {
        display: flex;
        font-size: 1.2rem;
        align-items: center;
        text-align: center;
    }
    #logo {
        width: 120px;
        padding-left: 1rem;
        padding-right: 0;
    }
    #headings {
        font-size: 1rem;
    }
    nav {
        margin: 0 2rem;
    }
    #menu {
        display: none;
    }
    nav ul#navigation {
        display: flex;
        order: 3;
    }
    nav ul li a {
        border: none;
        background-color: transparent;
    }
    #social {
        order: 2;
        padding: 0 .9rem;
        position: relative;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .hero {
        height: 449px;
        grid-column: 2/4;
        grid-row: 1/3;
    }
    .news {
        grid-column: 2/4;
        grid-row: 3/4;
    }
    .spotlights {
        height: 677px;
        grid-row: 1/4;
        grid-column: 4/5;  
    }
    .light-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .spot1 {
        grid-row: 1/2;
    }
    .spot2 {
        grid-row: 2/3;
    }
    .spotlights :nth-child(3) {
        display: block;
    }
    footer {
        font-size: 1.1rem;
    }
    #contactInfo {
        line-height: 24px;
        margin-right: 5rem;
    }
    #myInfo {
        font-size: 18px;
        padding: 1.5rem 0;
    }
}