@media (min-width: 420px) {
    nav button {
        background-color: transparent;
        border: none;
        font-size: 2.1rem;
        position: absolute;
        top: 42px;
        right: .5rem;
    }
    #social {
        width: 52px;
        margin: .2rem;
        position: absolute;
        top: 30px;
        right: 80px;
    }
}
@media (min-width: 520px) {
    #headings {
        font-size: 1rem;
        margin: 15px;
    }
    nav button {
        background-color: transparent;
        border: none;
        font-size: 2.5rem;
        position: absolute;
        top: 38px;
        right: .5rem;
    }
    #social {
        margin: .1rem 1.5rem;
        position: absolute;
        top: 28px;
        right: 90px;
    }
    .logos {
        width: 45px;
    }
    #twitter {
        margin-right: .5rem;
    }
    footer {
        display: grid;
        grid-template-columns: .5fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        padding-bottom: .5rem;
        align-items: center;
    }
    #logo_footer {
        width: 100px;
        grid-column: 1 / 2;
        padding-bottom: .5rem;
        float: right;
    }
    #address {
        grid-column: 2 / 3;
        text-align: left;
        margin-left: .5rem;
    }
    #contactInfo {
        line-height: 18px;
        grid-column: 3 / 4;
        text-align: right;
        margin-right: 1rem;
    }
    #myInfo {
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 2fr .9fr 1.1fr 2.5fr;
        font-size: 10px;
    }
    #myInfo p:nth-child(1){
        grid-template-columns: 1/2;
        text-align: right;
    }
    #myInfo p:nth-child(2){
        grid-template-columns: 2/3;
        text-align: center;
    }
    #myInfo p:nth-child(3){
        grid-template-columns: 3/4;
        text-align: left;
    }
    #myInfo p:nth-child(4){
        grid-template-columns: 4/5;
        text-align: left;
    }
    .spotlights {
        border: solid 1px gray;
        padding: .8rem;
    }
    main {
        grid-template-columns: 1fr .9fr 1.1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .hero, .news, .spotlights, .join {
        grid-column:  1/4;
        height: 220px;
    }
    .news {
        grid-row: 2/3;
    }
    .spotlights {
        grid-row: 3/4;
    }
    .join {
        display: grid;
        grid-row: 4/5;
    }
    .event {
        grid-row: 5/6;
        grid-column: 1/3;
    }
    .light-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .spot1, .spot2 {
        grid-row: 1/3;
    }
}
