@media (min-width: 420px) {
    nav button {
        background-color: transparent;
        border: none;
        font-size: 2.1rem;
        position: absolute;
        top: 42px;
        right: .5rem;
    }
    #social {
        width: 52px;
        margin: .2rem;
        position: absolute;
        top: 30px;
        right: 80px;
    }
}
@media (min-width: 520px) {
    #headings {
        font-size: 1rem;
        margin: 15px;
    }
    nav button {
        background-color: transparent;
        border: none;
        font-size: 2.5rem;
        position: absolute;
        top: 38px;
        right: .5rem;
    }
    #social {
        margin: .1rem 1.5rem;
        position: absolute;
        top: 28px;
        right: 90px;
    }
    .logos {
        width: 45px;
    }
    #twitter {
        margin-right: .5rem;
    }
}