@media (min-width: 700px) {
    #banner {
        padding: 1.75rem;
        font-size: 1.5rem;
    }
    #logo {
        width: 100px;
        float: right;
        padding: .75rem;
    }
    #headings {
        font-size: 1rem;
    }
    .logos{
        width: 45px;
        margin: .5rem;
    }
    nav button {
        margin-top: -.6rem;
        font-size: 2.5rem;
    }
    footer {
        display: grid;
        grid-template-columns: .5fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        align-items: center;
        font-size: .9rem;
    }
    #logo_footer {
        width: 100px;
        grid-column: 1/2;
        padding-bottom: .5rem;
        float: right;
    }
    #address {
        grid-column: 2/3;
        text-align: left;
        margin-left: 1rem;
    }
    #contactInfo {
        line-height: 18px;
        grid-column: 3/4;
        text-align: right;
        margin-right: 2.5rem;
    }
    #myInfo {
        grid-column: 1/4;
        display: flex;
        flex-direction: row;
        font-size: 15px;
        padding: 1rem 0;
        justify-content: center;
    }

    #myInfo p {
        padding: 0 1rem;
    }


    #mainIndex {
        display: grid;
        grid-template-columns: 1fr .9fr 1.1fr;
    }
    .hero, .news, .light-container, .join {
        grid-column:  1/4;
    }
    .light-container {
        grid-row: 3/4;
    }
    #spot1 {
        grid-column: 1/2;
    }
    #spot2 {
        grid-column: 2/3;
    }
    .join {
        display: block;
    }
    .event {
        grid-row: 5/6;
        grid-column: 1/3;
    }

    .section-text-optional {
        padding-top: 1rem;
        display: block;
    }

    .weather {
        grid-row: 5/6;  
    }

    .hero-title {
        font-size: 1.8rem;
    }
    
    .hero-button{
        font-size: 1.5rem;
    }

    .join-button{
        color: var(--color2);
        background-color: var(--color1);
        cursor: pointer;
        padding: .8rem;
        border-radius: .5rem;
        margin-top: 1.2rem;
        font-size: 1rem;
    }



    
    
    img[data-src] {
        filter: blur(.5em);
      }
      
    img {
        filter: blur(0em);
        transition: filter 2s;
      }



    .discoverSections {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .discoverPictures {
        padding: 1rem 1rem 2rem 2rem;
    }
    .discoverInfo {
        margin: 1rem 2rem 2rem 1rem;
    }
    .discoverPictures:hover {
        box-shadow: 0 0 40px #08232B;
    }


    #joinForm {
        margin: 0 auto;
    }




    .infoCards-list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
    }




    #contactBody {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-gap: 2rem;
    }
    #visitUs {
        grid-column: 2/3;
    }
    #contactForm {
        grid-row: 1;
        margin: 0 0 1rem 2rem;
    }
}


/****************************************/

    