@media (min-width: 700px) {
    #banner {
        padding: 1.75rem;
        font-size: 1.5rem;
    }
    #logo {
        width: 100px;
        float: right;
        padding: .75rem;
    }
    #headings {
        font-size: 1rem;
    }
    .logos{
        width: 45px;
        margin: .5rem;
    }
    nav button {
        margin-top: -.6rem;
        font-size: 2.5rem;
    }
    footer {
        display: grid;
        grid-template-columns: .5fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        align-items: center;
        font-size: .9rem;
    }
    #logo_footer {
        width: 100px;
        grid-column: 1/2;
        padding-bottom: .5rem;
        float: right;
    }
    #address {
        grid-column: 2/3;
        text-align: left;
        margin-left: 1rem;
    }
    #contactInfo {
        line-height: 18px;
        grid-column: 3/4;
        text-align: right;
        margin-right: 2.5rem;
    }
    #myInfo {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 2fr .9fr 1.1fr 2.5fr;
        font-size: 15px;
        padding: 1rem 0;
    }
    #myInfo p:nth-child(1){
        grid-template-columns: 1/2;
        text-align: right;
    }
    #myInfo p:nth-child(2){
        grid-template-columns: 2/3;
        text-align: center;
    }
    #myInfo p:nth-child(3){
        grid-template-columns: 3/4;
        text-align: left;
    }
    #myInfo p:nth-child(4){
        grid-template-columns: 4/5;
        text-align: left;
    }

    main {
        grid-template-columns: 1fr .9fr 1.1fr;
    }
    .hero, .news, .spotlights, .join {
        grid-column:  1/4;
    }
    .news {
        grid-row: 2/3;
    }
    .spotlights {
        grid-row: 3/4;
    }
    .join {
        display: grid;
        grid-row: 4/5;
    }
    .event {
        grid-row: 5/6;
        grid-column: 1/3;
    }
    .spot1, .spot2 {
        grid-row: 1/3;
    }



    
    
    img[data-src] {
        filter: blur(.5em);
      }
      
    img {
        filter: blur(0em);
        transition: filter 2s;
      }



      .discoverSections {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .discoverPictures {
        padding: 1rem 1rem 2rem 2rem;
    }
    .discoverInfo {
        padding: 1rem 2rem 2rem 1rem;
    }
}


/****************************************/

