:root {
    --color1: #08232B;
    --color2: #F6FAFE;
    --color3: #5982A4;
    --color4: #77B3D4; 
    --color5: #E8F3FE;
    --color6: #10354B;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merienda One', cursive;
}
p {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    color: var(--color1);
}

/*===== Banner =====*/
#banner {
    display: none;
    padding: 1.5rem;
    font-size: 1.2rem;
    background-color: var(--color1);
    color: var(--color2);
}
#close {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    padding-left: .5rem;
    cursor: pointer;
}

/*===== Header =====*/
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr .5fr;
    align-items: center;
    background-color: var(--color2);
}
#logo {
    width: 80px;
    padding: .5rem 0;
}
#headings {
    font-size: .8rem;
}
.logos{
    width: 35px;
    margin: .2rem;
}

/*===== Ham Menu =====*/
#menu {
    margin-top: -.6rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
nav {
    grid-column: 1/5;
}
nav ul {
    list-style-type: none;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--color1);
    border-top: 1px solid var(--color1);
    background-color: var(--color5);
}
nav ul li a:hover {
    background-color: var(--color3);
    color: var(--color5);
}
nav ul {display: none;}
nav ul.open {display: block;}

#menu span:nth-child(1) {display: block; cursor: pointer;}
#menu span:nth-child(2) {display: none}

#menu.open span:nth-child(1) {display: none;}
#menu.open span:nth-child(2) {display: block; cursor: pointer;}

/*===== Date =====*/
#date {
    background-color: var(--color1);
    color: var(--color2);
    padding: .7rem;
}

/*===== Visits =====*/
#visits {
    background-color: var(--color5);
    border-bottom: 1px solid var(--color1);
    padding: .7rem;
}

/*===== Footer =====*/
footer {
    background-color: var(--color2);
    font-size: 12px;
    padding: .5rem 0 0 0;
}
#logo_footer {
    width: 100px;
    margin: .5rem;
}
#address, #contactInfo, #myInfo {
    padding-bottom: .5rem;
}
#contactInfo a {
    color: var(--color1);
}
#myInfo, #myInfo p {
    background-color: var(--color1);
    color: var(--color2);
    padding-top: .5rem;
}




main {
    margin: 1rem;
}
.placeholder {
    border: solid 1px gray;
    margin: .5rem .2rem 0;
    text-align: center;
}
h3, h4 {
    background-color: #08232B;
    color: #F6FAFE;
    padding: .5rem;
}
.hero {
    position: relative;
}
.hero-title {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #F6FAFE;
    color: #08232B;
    padding: .6rem;
    border-radius: .4rem;
}
.hero-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #F6FAFE;
    background-color: #08232B;
    cursor: pointer;
    padding: .6rem;
    border-radius: .4rem;
}
.light-container {
    display: grid;
}
.spot3 {
    display: none;
}
.spots {
    border: solid 1px gray;
    margin: .3rem;
    padding-bottom: .5rem;
}
.join {
    display: none;
}
picture img {    
    width: 100%;
}
.try {
    width: 40%;
}
.section-text {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.section-text-important {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: .5rem;
}
.section-text-bottom {
    margin: .8rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid #08232B;
    font-size: 1.1rem;
    font-weight: bold;
}



#weatherInfo{
    padding: 1rem;
    font-size: 1.5rem;
}

#weatherFigure {
    display: grid;
    grid-template-columns: .9fr 1.1fr;
}
#currentTemp {
    margin: auto auto auto 1rem;
    font-size: 2.5rem;
}

#weatherIcon {
    width: 70px;
    margin-left: auto;
}

#weatherDescription {
    margin: 1rem 2rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #08232B;
}

.weatherInfo {
    padding: .5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#sourced {
    font-size: 1rem;
}



#discoverTitle, #thankyouTitle, #directoryTitle {
    padding: 1rem;
    margin: 1rem;
}
.discoverPictures {
    padding: 1rem 2rem 1rem 2rem;
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.discoverInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem 2rem 2rem;
}

.discoverTitle {
    padding-bottom: 1rem;
}

/*----------- Join Page --------------*/
#joinForm {
    max-width: 600px;
    margin: 0 2.5rem;
    border: 1px solid #08232B;
    border-radius: 10px;
    text-align: left;
}

form fieldset {
    border: none;
    border-top: 1px solid #08232B;
    margin: 1rem;
    padding: .5rem 2%;
}

form legend {
    color: #08232B;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.formInfo {
    display: block;
    padding-top: 1rem;
    color: #08232B;
    font-size: .8rem;
}

form label.formInfo input, form label.formInfo select {
    display: block;
    font-size: 1rem;
    border: 1px solid #08232B;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: #F6FAFE;
}

form label.formMembership {
    display: block;
    padding: .75rem 0;
    color: #08232B;
    font-size: 1.2rem;
}
#submitDiv {
    margin: 1rem;
    padding: .5rem 2%;
}
form input.submitBtn {
    border: none;
    background-color: #08232B;
    color: #E8F3FE;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 100%;
    max-width: 20rem;
    cursor: pointer;
    font-size: 1.3rem;
}

form label.formInfo input:required:invalid {
    border-left: 6px solid red;
}

form label.formInfo input:required:valid {
    border-left: 6px solid green;
}

input[type=radio] {
    border: 0px;
    width: 5%;
    height: 1.5rem;
    margin-right: .5rem;
    cursor: pointer;
}






#viewButtons {
    margin: 1rem 2rem 0 3rem;
    margin-bottom: 0;
}

.viewButtons {
    margin: .5rem;
    margin-bottom: 0;
    background-color: #F6FAFE;
    border: 1.5px solid #08232B;
    border-radius: 5px;
    cursor: pointer;
    padding: .2rem;
}

.infoCards-Grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: -1rem 2rem 2rem 2rem;
}
.infoCards-list {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 2rem 2rem;
}

.infoCards-Grid section {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--color1);
    background-color: var(--color2);
}

.infoCards-Grid section h2 {
    color: #08232B;
    border-bottom: 1px solid #08232B;
    margin: 1rem;
    font-size: 1.2rem;
}

.infoCards-Grid section p {
    padding-bottom: .5rem;
    font-size: 1.2rem;
}

.infoCards-Grid img {
    max-width: 30%;
    border-radius: 10px;
}
.infoCards-Grid section:hover {
    box-shadow: 0 0 10px #10354B;
    transition: transform .1s;
    transform: rotate(.5deg);
}


.infoCards-list section {
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.infoCards-list section:nth-child(even) {
    background-color: #E8F3FE;
}

.infoCards-list section h2 {
    border-bottom: none;
    margin: 0;
}
.infoCards-list section p {
    padding-bottom: 0;
    margin: auto 1rem;
}

.infoCards-list img, .email, .membership {
    display: none;
}