* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#banner {
    display: none;
    min-width: 360px;
    padding: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #08232B;
    color: #F6FAFE;
}
#close {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    padding-left: .5rem;
    cursor: pointer;
}
header {
    min-width: 360px;
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr;
    align-items: center;
    text-align: center;
    background-color: #F6FAFE;
    color: #08232B;
}
#logo {
    width: 80px;
    grid-column: 1/2;
    padding: .5rem;
    margin-left: .5rem;
}
#headings {
    font-size: .8rem;
    margin: 12px;
    grid-column: 2/3;
}
#social {
    grid-column: 3/4;
}
.logos{
    width: 35px;
    margin: .2rem;
}
#menu {
    grid-column: 4/5;
    margin-left: .8rem;
    margin-top: -.6rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
nav {
    grid-column: 1/5;
}
nav ul {
    list-style-type: none;

}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    text-align: center;
    color: #08232B;
    border-top: 1px solid #08232B;
    background-color: #E8F3FE;
}
nav ul li a:hover {
    background-color: #5982A4;
    color: #E8F3FE;
}
nav ul {display: none;}
nav ul.open {display: block;}

#social.open {
    display: none;
}

#menu span:nth-child(1) {display: block;}
#menu span:nth-child(2) {display:none}

#menu.open span:nth-child(1) {display: none;}
#menu.open span:nth-child(2) {display: block;}

#date {
    display: block;
    text-align: center;
    font-weight: 400;
    background-color: #08232B;
    color: #F6FAFE;
    padding: .7rem;
}
body {
    font-size: 16px;
}
footer {
    text-align: center;
    background-color: #F6FAFE;
    color: #08232B;
    font-size: 12px;
    padding: .5rem 0 0 0;
}
#logo_footer {
    width: 100px;
    margin: .5rem;
}
#address, #contactInfo, #myInfo {
    padding-bottom: .5rem;
}
#contactInfo a {
    color: #08232B;
}
#myInfo{
    background-color: #08232B;
    color: #F6FAFE;
    padding-top: .5rem;
}
main {
    display: grid;
    margin: 1rem;
}
.placeholder {
    border: solid 1px gray;
    margin: .5rem .2rem 0;
    text-align: center;
}
h3, h4 {
    background-color: #08232B;
    color: #F6FAFE;
    padding: .5rem;
}
.hero {
    position: relative;
}
.hero-title {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #F6FAFE;
    color: #08232B;
    padding: .6rem;
    border-radius: .4rem;
}
.hero-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #F6FAFE;
    background-color: #08232B;
    cursor: pointer;
    padding: .6rem;
    border-radius: .4rem;
}
.light-container {
    display: grid;
}
.spot3 {
    display: none;
}
.spots {
    border: solid 1px gray;
    margin: .3rem;
    padding-bottom: .5rem;
}
.join {
    display: none;
}
picture img {    
    width: 100%;
}
.try {
    width: 40%;
}
.section-text {
    margin: 1rem;
}
.section-text-important {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: .5rem;
}
.section-text-bottom {
    margin: .8rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid #08232B;
    font-size: 1.1rem;
    font-weight: bold;
}