* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    min-width: 360px;
    display: flex;
    padding: .5rem;
    align-items: center;
    text-align: center;
    background-color: #F6FAFE;
    color: #08232B;
}
#social {
    display: flex;
}
#logo {
    width: 80px;
}
.logos{
    width: 35px;
    margin: .2rem;
}
#headings {
    font-size: .8rem;
    margin: 15px;
}
nav button {
    margin: -12px .3rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    text-align: right;
    color: #08232B;
    border-top: 1px solid #08232B;
}
nav ul li a:hover {
    background-color: #08232B;
    color: #F6FAFE;
}
nav ul {display: none;}
nav ul.open {display: block;}

#menu span:nth-child(1) {display: block;}
#menu span:nth-child(2) {display:none}

#menu.open span:nth-child(1) {display: none;}
#menu.open span:nth-child(2) {display: block;}

#date {
    display: block;
    text-align: center;
    font-weight: 400;
    background-color: #08232B;
    color: #F6FAFE;
    padding: .7rem;
}
body {
    font-size: 16px;
}

footer {
    text-align: center;
    background-color: #F6FAFE;
    color: #08232B;
    font-size: 12px;
    padding: .5rem 0 0 0;
}
#logo_footer {
    width: 100px;
}
#address, #contactInfo, #myInfo {
    padding-bottom: .5rem;
}
#myInfo{
    background-color: #08232B;
    color: #F6FAFE;
    padding-top: .5rem;
}