* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    color: #F6FAFE;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
    background-image: linear-gradient(#08232B, #cee5fc, #08232B);
}

h1 {
    margin: 1rem;
    padding: 1rem;
}

picture {
    margin-bottom: 1.5rem;
}

img[data-src] {
    filter: blur(0.3em);
  }
  
img {
    filter: blur(0em);
    transition: filter 0.8s;
  }