/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1, p {
    margin: 0 2vw;
}

nav {
    background-color: antiquewhite;
}
nav button {
    margin: .2rem 2vw;
    border: none;
    color: blueviolet;
    background: transparent;
    font-size: 2rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: blueviolet;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.1);
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
#hamburguer span:nth-child(1) {display: block;}
#hamburguer span:nth-child(2) {display: none;}

#hamburguer.open span:nth-child(1) {display: none;}
#hamburguer.open span:nth-child(2) {display: block;}