/* Tablet Views ******************************/
@media (min-width: 32.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section img {
		display: block;
	}
	main section img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}